<header id="black">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="LOGO" style="width: 100%;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link <%= (currentRoute === '/admin/add-product') ? 'active' : '' %>" href="/admin/add-product">Add Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= (currentRoute === '/products') ? 'active' : '' %>" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= (currentRoute === '/cart') ? 'active' : '' %>" href="/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= (currentRoute === '/orders') ? 'active' : '' %>" href="/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= (currentRoute === '/admin/products') ? 'active' : '' %>" href="/admin/products">Admin Products</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" style="margin-left: auto;">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success mx-1" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
