<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>
    <main class="p-3">
        <% if (prods.length > 0) { %>
            <div class="row">
                <% prods.forEach(function(prod) { %>
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/009/399/398/non_2x/old-vintage-book-clipart-design-illustration-free-png.png" alt="<%= prod.title %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= prod.title %></h5>
                                <h6 class="card-title">$500</h6>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, laudantium! Veritatis qui est nostrum tempora autem sunt nesciunt similique deserunt! Quia deserunt, rerum explicabo perspiciatis impedit dolorum ullam laboriosam eligendi.</p>
                                <a class="btn btn-primary" href="/admin/edit-product/<%= prod._id %>">Edit</a>
                                <form action="/admin/delete-product" method="POST">
                                    <input type="hidden" name="productId" value="<%= prod._id %>">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </main>
<%- include('partials/end.ejs') %>