doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body
    header
      nav.navbar.navbar-expand-lg.bg-body-tertiary.navbar-dark.bg-dark
        .container-fluid
          a.navbar-brand(href="/")
            img(src="/images/logo.png", alt="LOGO", style="width: 100%;")
          button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse(id="navbarSupportedContent")
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link.active(aria-current="page", href="/admin/add-product") Add Products
            form.d-flex(role="search", style="margin-left: auto;")
              input.form-control.me-2(type="search", placeholder="Search", aria-label="Search")
              button.btn.btn-outline-success.mx-1(type="submit") Search
    main
        if prods.length > 0
            .row
                each prod in prods
                    .col-4
                        .card(style="width: 18rem;")
                            img.card-img-top(src=prod.imageUrl, alt=prod.title)
                            .card-body
                                h5.card-title #{prod.title}
                                h6.card-title #{prod.price}
                                p.card-text #{prod.description}
                                a.btn.btn-primary(href="/admin/edit-product/" + prod._id) Edit
                                form(action="/admin/delete-product", method="POST")
                                    input(type="hidden", name="productId", value=prod._id)
                                    button.btn.btn-danger(type="submit") Delete
        else
            h1 No Products Found
  
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct", crossorigin="anonymous")
