<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<main>
    <% if (products.length > 0) { %>
        <h1>Cart</h1>
        <ul>
            <% products.forEach(function(p) { %>
                <li class="list-inline" >
                    <p class="list-inline-item">
                        <%= p.productData.title %> (<%= p.qty %>) - $<%= p.productData.price * p.qty %>
                    </p>
                    <form action="/cart-delete-item"  class="list-inline-item" method="POST">
                        <input type="hidden" name="productId" value="<%= p.productData.id %>">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <h1>No Products in Cart</h1>
    <% } %>
</main>
<%- include('../partials/end.ejs') %>
